<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon"
        href="https://img.icons8.com/external-phatplus-solid-phatplus/64/null/external-coding-encryption-phatplus-solid-phatplus.png"
        type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="import" href="Signup1.html">
    <title>Our web content website 2023 | webcontent6264.com</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="scrollTop" onclick="scrollToTop()"><img
            src="https://img.icons8.com/glyph-neue/64/null/circled-up-2.png" /></div>
    <div class="nav-section">
        <nav id="navbar">
            <div class="hamburger" onclick="onclickrs()">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="leftnav">
                <h1>Website</h1>
            </div>
            <div class="centernav">
                <ul class="nav-lists">
                    <li class="n-li" id=""><a href="#navbar">Home</a></li>
                    <li class="n-li" id=""><a href="#about">About</a></li>
                    <li class="n-li" id=""><a href="#languages">Languages</a></li>
                    <li class="n-li" id=""><a href="#needs">Needs</a></li>
                    <li class="n-li" id=""><a href="#contact">contact</a></li>
                </ul>
            </div>
            <div class="r-nav-items">
                <div class="rightnav">
                    <img src="https://img.icons8.com/ios-glyphs/30/null/search--v1.png" class="s-icon"
                        onclick="onclickr()" />
                    <img src="nightm.jpg" id="icon" onclick="onclick()" />
                    <a href="/Signout"><button class="s-btn">Signout</button></a>
                    <div class="s-input">
                        <input type="text" placeholder="Search here..." class="search">
                    </div>
                </div>
                <!-- signup form presented -->

                

            </div>
        </nav>
    </div>

    <section id="home">
        <img src="webimage2.jpg" alt="">
        <div class="home-container">
            <div class="texts-container">
                <h1><span class="auto-type1"></span></h1>
                <p class="hf-p">The content of a website includes the text, images, sounds, videos, and animations that users experience on a website.
                </p>
                <p class="hs-p">Website content is the utmost important tool you can use to achieve your marketing strategy and communication to your customers about your brand.</p>
                <div class="h-btns">
                    <a href="https://careerfoundry.com/en/blog/web-development/what-does-it-take-to-become-a-web-developer-everything-you-need-to-know-before-getting-started/"><button>Keep Learning</button></a>
                    <a href="https://blog.hubspot.com/website/website-development"><button>Keep Exploring</button></a>
                </div>
            </div>
        </div>
        <div class="social-media">
            <div class="icons">
                <img src="https://img.icons8.com/color/48/null/whatsapp--v1.png" />
                <img src="https://img.icons8.com/color/48/null/telegram-app--v1.png" />
                <img src="https://img.icons8.com/color/48/null/linkedin.png" />
                <img src="https://img.icons8.com/color/48/null/youtube-play.png" />
                <img src="https://img.icons8.com/color/48/null/instagram-new--v1.png" />
                <img src="https://img.icons8.com/color/48/null/facebook-new.png" />
            </div>
        </div>
    </section>

    <section id="about">
        <div class="about-container">
            <h1>About Us</h1>
            <hr>
            <div class="imgs">
                <img src="webimage1.jpg" alt="image">
                <div class="texts">
                    <h1>Let Me Explain You...</h1>
                    <p>A website (also written as a web site) is a collection of web pages and related <br> content that
                        is identified by a common domain name and published<br> on at least one web server.<br> Websites
                        are typically dedicated to a particular <br>topic or purpose, such as news, education,<br>
                        commerce, entertainment or social networking.<br> Hyperlinking between web pages guides the
                        navigation of the site,<br> which often starts with a home page.<br> As of December 2022, the
                        top 5 most visited websites <br>are Google Search, YouTube, Facebook, Twitter, and Instagram.
                    </p>
                    <a href="https://dev.to/thunderfury1208/beginner-thoughts-about-web-development-d0f"><button>know More</button></a>
                </div>
            </div>
    </section>

    <section id="languages">
        <h1>Many Languages</h1>
        <hr>
        <div class="languages-container">
            <p>There are so many languages are used to create a full stack website that are;</p>
            <div class="lan-texts">
                <div class="lan-texts-box">
                    <h2>HTML</h2>
                    <div class="line">
                        <h3><span class="auto-type2"></span></h3>
                    </div>
                </div>

                <div class="lan-texts-box">
                    <h2>CSS</h2>
                    <div class="line">
                        <h3><span class="auto-type3"></span></h3>
                    </div>
                </div>

                <div class="lan-texts-box">
                    <h2>JavaScript</h2>
                    <div class="line">
                        <h3><span class="auto-type4"></span></h3>
                    </div>
                </div>
            </div>

            <div class="lan-texts2">
                <div class="lan-texts-box">
                    <h2>JAVA</h2>
                    <div class="line">
                        <h3><span class="auto-type5"></span></h3>
                    </div>
                </div>

                <div class="lan-texts-box">
                    <h2>REACTJS</h2>
                    <div class="line">
                        <h3><span class="auto-type6"></span></h3>
                    </div>
                </div>

                <div class="lan-texts-box">
                    <h2>ANGULAR</h2>
                    <div class="line">
                        <h3><span class="auto-type7"></span></h3>
                    </div>
                </div>
            </div>

            <div class="lan-texts3">
                <div class="lan-texts-box">
                    <h2>NODEJS</h2>
                    <div class="line">
                        <h3><span class="auto-type8"></span></h3>
                    </div>
                </div>

                <div class="lan-texts-box">
                    <h2>PHP</h2>
                    <div class="line">
                        <h3><span class="auto-type9"></span></h3>
                    </div>
                </div>

                <div class="lan-texts-box">
                    <h2>PYTHON</h2>
                    <div class="line">
                        <h3><span class="auto-type10"></span></h3>
                    </div>
                </div>
            </div>

            <div class="lan-texts4">
                <div class="lan-texts-box">
                    <h2>DJANGO</h2>
                    <div class="line">
                        <h3><span class="auto-type11"></span></h3>
                    </div>
                </div>

                <div class="lan-texts-box">
                    <h2>MONGODB</h2>
                    <div class="line">
                        <h3><span class="auto-type12"></span></h3>
                    </div>
                </div>

                <div class="lan-texts-box">
                    <h2>FLASK</h2>
                    <div class="line">
                        <h3><span class="auto-type13"></span></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="needs">
        <h1>Web Needs</h1>
        <div class="need-container">
            <div class="texts-icons-container">
                <h2>Let's we talk...</h2>
                <img
                    src="https://img.icons8.com/external-flaticons-lineal-flat-icons/64/null/external-website-resume-flaticons-lineal-flat-icons-2.png" />
                <h4>Where and Why do we need a website? Let's us explain...</h4>
                <p>A website is the most critical marketing tool for any business that wants to succeed in today’s digital environment. It is the first thing potential customers see, and it will make or break their decision to buy from you.</p>
                <h3>If you have any doubts/questions in your mind you can contact us</h3>
                <a href="https://ied.eu/blog/the-importance-of-web-design-and-development-in-business/"><button class="n-btn">More Thoughts</button></a>
            </div>
            <div class="image-icon-container">
                <img src="needbac1.jpg" alt="image">
            </div>
            <div class="image-container">

            </div>
        </div>
    </section>

    <section id="contact">
        <h1 class="h-primari1 center1">Contact <span>Us</span></h1>
        <div id="contact-box">
            <form method="POST" action="/contact">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" placeholder="Username" autocomplete="off" required>
                    <span id="username" class="text-danger form-weight-bold"></span>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Email" autocomplete="off" required>
                    <span id="confirmemail" class="text-danger form-weight-bold"></span>
                </div>
                <div class="form-group">
                    <label for="Phone">Confirm Phone Number</label>
                    <input type="text" name="phone" id="Phone" placeholder="Phone-number" autocomplete="off" required>
                    <span id="number" class="text-danger form-weight-bold"></span>
                </div>
                <div class="form-group">
                    <label for="text">Tell me about yourself</label>
                    <textarea type="text" name="text" id="textarea" cols="30" rows="10" placeholder="How about you....."
                        autocomplete="off" required></textarea>
                    <span id="confirmtextarea" class="text-danger form-weight-bold"></span>
                </div>
                <div class="submit-btn0">
                    <button type="submit" autocomplete="off" required>
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </section>

    <section id="footer">
        <div class="foo_container">
            <div class="foo_about">
                <h1>Welcome to our</h1>
                <span>web content website </span>
                <p>The page introduces founder Emily Schuman, as well as her blog, <br> books, and fashion collection.
                </p>
            </div>
            <div class="foo_links_hl">
                <div class="foo_li">
                    <h1>Accounnts</h1>
                    <ul class="foo_links">
                        <li class="list"><a href="#">Instagram</a></li>
                        <li class="list"><a href="#">Youtube</a></li>
                        <li class="list"><a href="#">Github</a></li>
                        <li class="list"><a href="#">Facebook</a></li>
                        <li class="list"><a href="#">Twitter</a></li>
                        <li class="list"><a href="#">Telegram</a></li>
                        <li class="list"><a href="#">Skype</a></li>
                        <li class="list"><a
                                href="https://www.linkedin.com/in/pavan-prajapati-8a348626b/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B2NPwgjDTRW28Ni%2BJv5OEgw%3D%3D">Linkdin</a>
                        </li>
                    </ul>
                </div>
                <div class="foo_li">
                    <h1>Customer Care</h1>
                    <ul class="foo_links">
                        <li class="list"><a href="/Projects">Our projects</a></li>
                        <li class="list"><a href="/FAQ">FAQs <span>Us</span></a></li>
                        <li class="list"><a href="/Tos">Terms of Services</a></li>
                        <li class="list"><a href="#">Privacy Policy</a></li>
                        <li class="list"><a href="#">Careers</a></li>
                        <li class="list"><a href="#">UserGuidlines</a></li>
                    </ul>
                </div>
                <div class="foo_li">
                    <h1>Follow us</h1>
                    <ul class="foo_links1">
                        <li class="list"><img src="https://img.icons8.com/ios/50/null/ringer-volume.png" />+916264360870
                        </li>
                        <li class="list"><img
                                src="https://img.icons8.com/emoji/48/null/e-mail.png" />pp3850064@gmail.com</li>
                        <li class="list"><img
                                src="https://img.icons8.com/external-justicon-flat-justicon/64/null/external-linkedin-social-media-justicon-flat-justicon.png" /><a
                                href="https://www.linkedin.com/in/pavan-prajapati-8a348626b/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B2NPwgjDTRW28Ni%2BJv5OEgw%3D%3D">https://www.linkedin.com/in/pavan-prajapati-8a348626b/?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3B2NPwgjDTRW28Ni%2BJv5OEgw%3D%3D</a>
                        </li>
                        <li class="list"><img src="locaicon.jpg" alt="icon"><a
                                href="https://goo.gl/maps/TYJrnmA53iYWwsm18">Visit our location</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <footer>
        Copyright &copy; www.myonlinewebsite.com All right reserved!
    </footer>
    <script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>
    <script>
        var typed = new Typed(".auto-type1", {
            strings: ["Hello Welcome... To", "Our Web development website", "In this website", "You will learn", "How much content should be available in a website"],
            typeSpeed: 50,
            backSpeed: 50,
            loop: true
        });
        var typed = new Typed(".auto-type2", {
            strings: ["The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a web browser. It is often assisted by technologies such as Cascading Style Sheets (CSS) and scripting languages such as JavaScript."],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type3", {
            strings: ["Cascading Style Sheets (CSS) is a style sheet language used for describing the presentation of a document written in a markup language such as HTML or XML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript."],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type4", {
            strings: ["JavaScript, often abbreviated as JS, is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS. As of 2022, 98% of websites use JavaScript on the client side for webpage behavior, often incorporating third-party libraries. "],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type5", {
            strings: ["Java is a high-level, class-based, object-oriented programming language. It is a general-purpose programming language intended to let programmers write once, run anywhere (WORA), meaning that compiled Java code can run on all platforms that support Java without the need to recompile."],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type6", {
            strings: ["React (also known as React.js or ReactJS) is a free and open-source front-end JavaScript library for building user interfaces based on components. It is maintained by Meta (formerly Facebook) and a community of individual developers and companies."],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type7", {
            strings: ["Angular (also referred to as 'Angular 2+') is a TypeScript-based, free and open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS. "],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type8", {
            strings: ["Node.js is a cross-platform, open-source server environment that can run on Windows, Linux, Unix, macOS, and more. Node.js is a back-end JavaScript runtime environment, runs on the V8 JavaScript Engine, and executes JavaScript code outside a web browser."],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type9", {
            strings: ["PHP is a general-purpose scripting language geared toward web development. It was originally created by Danish-Canadian programmer Rasmus Lerdorf in 1993 and released in 1995. The PHP reference implementation is now produced by The PHP Group."],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type10", {
            strings: ["Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation via the off-side rule. Python supports multiple programming paradigms, including structured, object-oriented and functional programming."],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type11", {
            strings: ["Django is a free and open-source, Python-based web framework that follows the model template views (MTV) architectural pattern. It is maintained by the Django Software Foundation (DSF), an independent organization established in the US as a non-profit."],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type12", {
            strings: ["MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas. MongoDB is developed by MongoDB Inc. and licensed under the Server Side Public License (SSPL)."],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });
        var typed = new Typed(".auto-type13", {
            strings: ["Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions."],
            typeSpeed: 30,
            backSpeed: 0,
            loop: true
        });

        // scrollTop Creation

        window.addEventListener('scroll', function () {
            var scroll = document.querySelector('.scrollTop');
            scroll.classList.toggle("active", window.scrollY > 70)
        })

        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            })
        }

        // sign button popup
        let popup1 = document.getElementById('Spopup')
        function openPopup1() {
            popup1.classList.add('open-popup1')
        }
        function closePopup1() {
            popup1.classList.remove('open-popup1')
        }

        // darktheme creation 
        var icon = document.getElementById("icon");

        icon.onclick = function () {
            document.body.classList.toggle("dark-theme")
        }

        // hidden eye creation

        function myHiddenEye() {
            var i = document.getElementById("SSI");
            var h1 = document.getElementById("Ehide1");
            var h2 = document.getElementById("Ehide2");

            if (i.type === 'password') {
                i.type = "text";
                h1.style.display = "block";
                h2.style.display = "none";
            }
            else {
                i.type = "password";
                h1.style.display = "none";
                h2.style.display = "block";
            }
        }

        // search input creation 

       
        const Sicon = document.querySelector(".s-icon");
        const search = document.querySelector(".s-input");

        Sicon.onclickr = function () {
            search.classList.toggle("s-input1")
        }

        // hamburger creation 

        const hamburger = document.querySelector(".hamburger");
        const navlist = document.querySelector(".centernav");

        hamburger.onclickrs = function () {
            navlist.classList.toggle("centernav1");
        }

        
    </script>
</body>

</html>