<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="signup.css">
</head>
<body>
    <form action="/Signout" method="get" class="Spopup" id="Spopup">
        <h1>Sign out</h1>
        <span class="Sinput">Email</span>
        <br><input type="email" name="email" class="inputS" placeholder="Enter Email" autocomplete="off"
            required>
        <br><button type="submit" class="inputS3" autocomplete="off">Signout</button>
    </form>
</body>
</html>