<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="signup.css">
</head>

<body>
    <div class="first_button">
        <form action="/Signup" method="POST" class="Spopup" id="Spopup">
            <h1>Sign in</h1>
            <span class="Sinput">Email</span>
            <br><input type="email" name="email" class="inputS" placeholder="Enter Email" autocomplete="off" required>

            <br><span class="Sinput1">Password</span>
            <br><input type="password" name="password" id="SSI" class="inputS1" placeholder="Enter Password"
                autocomplete="off" required>
            <p class="error">
                <%= locals.message %>
            </p>
            <span class="eye" onclick="myHiddenEye()">
                <i class="fa-regular fa-eye" id="Ehide1" style="color: #000000;"></i>
                <i class="fa-regular fa-eye-slash" id="Ehide2" style="color: #000000;"></i>
            </span>

            <br><a href="Fpassword" class="SLink">Forget Your Password?</a>
            <br><button type="submit" class="inputS3" autocomplete="off">Sign in</button>
        </form>
    </div>
    <script>
        var err = document.querySelector(".error");

        setTimeout(() => {
            err.style.opacity = "0"
            err.style.transition = "1s"
        }, 2000);
    </script>
</body>

</html>