        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Baloo+Bhai+2:wght@400;500&family=Balsamiq+Sans:ital@0;1&family=Caveat:wght@700&family=Kanit:wght@300&family=Lobster&family=Mynerve&family=PT+Sans+Narrow:wght@700&family=PT+Serif:ital@1&family=Poppins:wght@600&family=Tilt+Warp&family=Ubuntu:wght@400;500;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Ubuntu:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lobster&family=Ubuntu:wght@500&display=swap');

        /*------------------------------------------------------ entire page customization ------------------------------------------------------*/

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        html {
            font-size: 10px;
            /* width: 10px;
            height: 10px; */
            font-family: 'Ubuntu', sans-serif;
        }

        body {
            background: var(--primary-color);
            color: var(--secondary-color);
            width: 155.5rem;
            overflow-x: hidden;
        }

        :root {
            --primary-color: #fff;
            --secondary-color: #212121;
        }

        .dark-theme {
            --primary-color: #1b1b1b;
            --secondary-color: #fcfcfc;
            --filter: invert(1);
            --filter1: brightness(0.5);
            --s-filter: contrast(0.1);
            --n-filter: none;
        }


        /*----------------------------------------------- nav-section ------------------------------------------------------*/

        .rightnav {
            display: flex;
            align-items: center;
            gap: 5rem;
        }

        .rightnav img:nth-child(1) {
            width: 3rem;
            cursor: pointer;
            transition: 0.5s;
            filter: var(--filter);
        }

        .rightnav img:nth-child(2) {
            width: 5rem;
            cursor: pointer;
            transition: 0.5s;
            filter: var(--filter);
        }

        .rightnav .s-btn {
            padding: 0.9rem 2.1rem;
            font-size: 1.6rem;
            font-weight: 600;
            border: none;
            background: transparent;
            box-shadow: 0rem 0rem 0.3rem 0rem gray;
            border-radius: 1rem;
            cursor: pointer;
            transition: 0.5s;
            color: var(--secondary-color);
        }

        .rightnav .s-btn:hover {
            background: #ebebeb;
            font-size: 1.5rem;
            color: var(--primary-color);
        }

        .nav-section {
            display: flex;
            align-items: center;
            width: 177.7rem;
            height: 8rem;
            justify-content: center;
            border-bottom: 1rem solid gainsboro;
        }

        #navbar {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 90%;
            height: 100%;
            margin-right: 18rem;
        }

        .centernav ul {
            display: flex;
            font-size: 2.1rem;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }

        .centernav {
            width: 65rem;
            height: 5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .centernav ul li {
            list-style: none;
            margin: 0rem 2rem;
        }

        .centernav ul li a {
            color: black;
            text-decoration: none;
            cursor: pointer;
            transition: 0.5s;
            color: var(--secondary-color);
        }

        .centernav ul li a:hover {
            color: gray;
            border-bottom: 0.2rem solid black;
            padding: 0.5rem;
            font-size: 2rem;
        }

        #navbar .leftnav h1 {
            font-size: 4rem;
            cursor: pointer;
            opacity: 0.5;
        }

        /* home-section */

        #home {
            width: 161.5rem;
            height: 69rem;
        }

        #home img {
            width: 100%;
            height: 100%;
            filter: brightness(0.5);
        }

        .home-container .texts-container {
            width: 158rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 2rem;
            position: absolute;
            top: 6rem;
        }

        .home-container .texts-container h1 {
            font-size: 5rem;
            color: rgb(255, 255, 255);
            font-weight: 600;
            filter: brightness(1);
            text-align: center;
        }

        .home-container .texts-container .hf-p {
            font-size: 2rem;
            color: rgb(255, 255, 255);
            text-align: center;
            font-weight: 600;
            filter: brightness(1);
        }

        .home-container .texts-container .hs-p {
            font-size: 2.5rem;
            text-align: center;
            color: rgb(255, 255, 255);
            font-weight: 600;
            filter: brightness(1);
            width: 138rem;
        }

        .h-btns {
            display: flex;
            gap: 3rem;
        }

        .h-btns button {
            padding: 1rem;
            border: 0.1rem solid #ffffffa8;
            background: #00000038;
            cursor: pointer;
            font-weight: 600;
            border-radius: 1rem;
            color: #fff;
        }

        .h-btns button:hover {
            padding: 0.9rem;
            background: #7c7c7c38;
            cursor: pointer;
            font-weight: 600;
            border-radius: 1rem;
        }

        .social-media {
            position: fixed;
        }

        .social-media .icons {
            position: absolute;
            left: 0rem;
            top: -56rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 4rem;
        }

        .social-media .icons:hover {
            width: 3.9rem;
        }

        .icons img {
            box-shadow: 0.5rem 0rem 1rem 0rem gray;
            border-radius: 3rem;
        }

        .social-media .icons img:hover {
            width: 4rem;
            filter: grayscale(1);
            box-shadow: 0.5rem 0rem 1rem 0rem gray;
            border-radius: 2rem;
        }



        .social-media .icons img:hover {
            width: 3.5rem;
            box-shadow: none;
            border-radius: 0rem;
        }

        /* about-section */

        #about {
            height: 71rem;
            width: 161.4rem;
            background: linear-gradient(45deg, #d7d7d7, transparent);
            background: var(--primary-color);
        }

        #about h1 {
            font-size: 5rem;
            margin-bottom: 6rem;
        }

        #about hr {
            width: 16rem;
            margin-left: 0rem;
            height: 0.4rem;
            background: gray;
            margin-top: -8rem;
            margin-bottom: 5rem;
            border-radius: 1rem;
        }

        #about img {
            width: 63rem;
            filter: drop-shadow(2px 4px 6px black);
            border-right: 1px solid gray;
        }

        .imgs {
            display: flex;
            align-items: center;
            width: 81%;
            height: 100%;
            border: 2px solid black;
            border-radius: 3rem;
        }

        .texts {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;
            justify-content: center;
            flex-direction: column;
        }

        .texts p {
            font-size: 1.5rem;
            font-weight: 600;
            text-align: center;
        }

        .about-container {
            display: flex;
            width: 160rem;
            height: 66rem;
            flex-direction: column;
            align-items: center;
            padding-top: 6rem;
            gap: 3rem;
        }

        .texts button {
            margin-top: 2rem;
            padding: 1rem;
            border-radius: 1rem;
            cursor: pointer;
            background: none;
            color: var(--secondary-color);
        }

        /* languages section */

        #languages {
            width: 161.5rem;
            height: 217rem;
            background: linear-gradient(180deg, #e5e5e5, transparent);
            background: var(--primary-color);
        }

        #languages h1 {
            display: flex;
            height: 12rem;
            align-items: center;
            justify-content: center;
            font-size: 5rem;
        }

        #languages hr {
            width: 26rem;
            margin-left: 67rem;
            height: 0.4rem;
            background: gray;
            margin-top: -2rem;
            margin-bottom: 3rem;
            border-radius: 1rem;
        }

        .languages-container p {
            display: flex;
            justify-content: center;
            font-size: 4rem;
            font-weight: bold;
            font-family: 'Lobster', cursive;
        }


        .lan-texts-box {
            height: 33rem;
            width: 41rem;
            background: #000000a1;
            border-radius: 1rem;
            color: white;
            box-shadow: 0rem 0rem 1rem 0rem black;
            font-family: 'Kanit', sans-serif;
        }



        .lan-texts-box h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            border-bottom: 0.5rem solid darkgray;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            box-shadow: 0rem 1rem 1rem 0rem #2e2c2c;
        }

        .lan-texts-box .line {
            width: 0.3rem;
            height: 27.5rem;
            background: #5656568c;
            position: relative;
            left: 4rem;
            box-shadow: 0rem 0rem 0.3rem 0rem black;
            bottom: -0.4rem;
        }

        .numbers {
            font-size: 1.8rem;
            position: relative;
            top: 0.8rem;
            left: 1.5rem;
        }

        .line h3 {
            width: 35rem;
            font-size: 1.9rem;
            position: relative;
            top: 3rem;
            left: 1rem;
            color: gray;
        }

        .line h3 a {
            text-decoration: none;
            color: aliceblue;
        }

        .lan-texts2-box {
            height: 33rem;
            width: 41rem;
            background: #000000a1;
            border-radius: 1rem;
            color: white;
            box-shadow: 0rem 0rem 1rem 0rem black;
            font-family: 'Kanit', sans-serif;
        }



        .lan-texts2-box h2 {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3rem;
            border-bottom: 0.5rem solid darkgray;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            box-shadow: 0rem 1rem 1rem 0rem #2e2c2c;
        }

        .lan-texts2-box .line {
            width: 0.3rem;
            height: 27.5rem;
            background: #5656568c;
            position: relative;
            left: 4rem;
            box-shadow: 0rem 0rem 0.3rem 0rem black;
            bottom: -0.4rem;
        }

        .numbers {
            font-size: 1.8rem;
            position: relative;
            top: 0.8rem;
            left: 1.5rem;
        }

        .line h3 {
            width: 35rem;
            font-size: 1.9rem;
            position: relative;
            top: 3rem;
            left: 1rem;
            color: gray;
        }

        .lan-texts {
            display: flex;
            justify-content: center;
            gap: 3rem;
            height: 45rem;
            align-items: center;
        }

        .lan-texts2 {
            display: flex;
            justify-content: center;
            gap: 3rem;
            height: 45rem;
            align-items: center;
        }

        .lan-texts3 {
            display: flex;
            justify-content: center;
            gap: 3rem;
            height: 45rem;
            align-items: center;
        }

        .lan-texts4 {
            display: flex;
            justify-content: center;
            gap: 3rem;
            height: 45rem;
            align-items: center;
        }

        /* scrollTop button creation */

        .scrollTop {
            position: absolute;
            bottom: 0.4rem;
            right: 4rem;
            height: 6rem;
            background-color: rgb(215 195 199 / 56%);
            border-radius: 3rem;
            background-position: center;
            background-repeat: no-repeat;
            visibility: hidden;
            opacity: 0;
            cursor: pointer;
            z-index: 100000;
            transition: 0.5s;
            position: fixed;
        }

        .scrollTop.active {
            bottom: 3rem;
            visibility: visible;
            opacity: 1;
        }

        .scrollTop img {
            width: 6rem;
            height: 5rem;
            position: relative;
            top: 0.5rem;
        }

        /* contact section  */
        #contact {
            display: flex;
            width: 158.5rem;
            height: 50rem;
            align-items: center;
            flex-direction: column;
            gap: 5rem;
        }

        #contact::before {
            content: "";
            background: url(contactbac.jpg) no-repeat center center/cover;
            position: absolute;
            height: 86rem;
            width: 165rem;
            z-index: -1;
            opacity: 0.5;
        }

        .center1 {
            width: 100%;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 5rem;
            gap: 1rem;
            margin-top: 5rem;
            margin-bottom: 3rem;
        }

        #contact h1 span {
            color: rgb(112, 110, 110);
        }

        .form-cover {
            height: 36rem;
            background: #80808059;
            width: 45rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .form-cover form {
            display: flex;
            flex-direction: column;
            width: 34rem;
            height: 35rem;
        }

        .form-cover form h2 {
            display: flex;
            justify-content: center;
            height: 8rem;
            font-size: 4rem;
        }

        .form-cover form span {
            font-size: 2rem;
        }

        .form-cover form input {
            padding: 1rem;
            border: none;
            box-shadow: 0rem 0rem 0.5rem 0rem;
            border-radius: 1rem;
            outline: none;
            background: #ffffff47;
        }

        #contact-box {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 4rem;
            width: 176rem;
        }

        #contact-box input,
        #contact-box textarea {
            width: 100%;
            padding: 11px 20px;
            border-radius: 10px;
            font-size: 1.4rem;
        }

        #contact-box form {
            width: 26%;
        }

        #contact-box label {
            font-size: 23px;
            font-family: 'Baloo Bhai 2', cursive;
        }

        .h-primary1 {
            color: white;
            font-size: 43px;
            padding: 17px;
            font-family: 'Baloo Bhai 2', cursive;
            margin: 10px;
        }


        .center1 {
            display: flex;
            justify-content: center;
            font-size: 40px;
            font-family: 'Baloo Bhai 2', cursive;
        }

        .submit-btn0 button {
            padding: 1rem 3rem;
            margin-top: 2rem;
            cursor: pointer;
            font-size: 1.5rem;
            border-radius: 1rem;
            background: lightgray;
        }

        .submit-btn0 button:hover {
            background: gray;
            font-size: 1.4rem;
        }

        .form-group span {
            color: orangered;
        }

        /* needs section  */

        #needs {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 158.4rem;
            height: 63rem;
            gap: 9rem;
            background: linear-gradient(360deg, #80808061, transparent);
        }

        #needs h1 {
            font-size: 5rem;
        }

        .need-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 7rem;
        }

        .texts-icons-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

        .texts-icons-container img {
            filter: var(--filter);
        }

        .texts-icon-container img {
            filter: var(--filter);
        }

        .texts-icons-container h4 {
            font-size: 4rem;
            text-align: center;
        }

        .texts-icons-container p {
            font-size: 1.5rem;
            font-weight: 500;
            text-align: center;
            margin-top: 0.5rem;
        }

        .texts-icons-container button {
            padding: 1rem 12rem;
            margin-top: 2rem;
            border: none;
            box-shadow: 0rem 0rem 0.4rem 0rem gray;
            cursor: pointer;
            background: none;
            border-radius: 1rem;
            font-size: 1.5rem;
            transition: 0.4s;
            font-weight: 600;
            color: var(--secondary-color);
        }

        .texts-icons-container button:hover {
            background: darkgray;
            font-size: 1.4rem;
        }

        .texts-icons-container h3 {
            font-size: 2rem;
        }

        /* footer section  */

        #footer {
            display: flex;
            width: 161.1rem;
            height: 45rem;
            position: relative;
            top: 36rem;
            background: linear-gradient(360deg, #b7b4b4, transparent);
            background: var(--primary-color);
        }


        .foo_container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 11rem;
            padding: 0rem 6rem;
        }

        .foo_links1 .list img {
            width: 3rem;
            filter: var(--filter);
        }

        .foo_links_hl {
            display: flex;
            gap: 18rem;
            width: 15rem;
        }

        .foo_li ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            font-size: 1.5rem;
        }

        .foo_li {
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }

        .foo_li h1 {
            font-size: 3rem;
        }

        .foo_about {
            width: 43rem;
        }

        .foo_about h1 {
            font-size: 4rem;
        }

        .foo_about span {
            font-size: 3rem;
        }

        .foo_about p {
            font-size: 1.5rem;
            font-weight: 600;
        }

        .foo_links li {
            list-style: none;
        }

        .foo_links li a {
            text-decoration: none;
            font-weight: 600;
            color: black;
            color: var(--secondary-color);
        }

        .foo_links1 li {
            display: flex;
            align-items: center;
            font-weight: 600;
            gap: 1rem;
        }

        .foo_links1 li a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            width: 17rem;
            overflow-y: auto;
            color: var(--secondary-color);
        }

        .foo_links1 li a::-webkit-scrollbar {
            background-color: black;
            height: 1rem;
            border-radius: 2rem;
        }

        .foo_links1 li a::-webkit-scrollbar-thumb {
            background-color: rgb(189, 189, 189);
            border-radius: 2rem;
        }

        footer {
            display: flex;
            width: 52rem;
            position: relative;
            top: 36rem;
            height: 3rem;
            width: 158.3rem;
            font-size: 1.5rem;
            align-items: center;
            justify-content: center;
            background: linear-gradient(360deg, #000000, transparent);
            color: white;
            font-weight: 600;
        }

        /* Sign popup details  */

        .Spopup {
            position: absolute;
            width: 38.3rem;
            height: 64rem;
            position: absolute;
            top: 0%;
            left: 101rem;
            transform: translate(-50%, -50%) scale(0.1);
            visibility: hidden;
            transition: transform 0.3s, top 0.4s;
            border-radius: 3.4rem;
            box-shadow: 1px 0px 4px 0px;
            opacity: 0.9;
        }

        .Spopup button {
            padding: 1rem;
            margin: 3rem 1rem;
            font-size: 1.1rem;
            border-radius: 1rem;
            cursor: pointer;
            color: black;
            background: #80808042;
        }



        .Spopup::before {
            content: "";
            background: url(Signbac.jpg) center center/cover;
            z-index: -1;
            opacity: 0.8;
            position: absolute;
            width: 41rem;
            height: 48rem;
            right: 0rem;
            border-radius: 33px;
            border: 2px solid aqua;
            filter: grayscale(1);
            background: linear-gradient(45deg, #ffffff, #818181);
            box-shadow: 0px 5px 15px 4px #646464;
        }

        .open-popup1 {
            visibility: visible;
            top: 51rem;
            left: 85rem;
            transform: translate(-50%, -50%) scale(1);
            z-index: 10000;
            width: 41rem;
            height: 48rem;
        }

        .Spopup h1 {
            margin: 3.9rem 1.2rem;
            text-shadow: 2px 2px 2px black;
            display: flex;
            position: relative;
            left: 4.9rem;
            color: rgb(0, 0, 0);
            font-size: 6rem;
        }

        .Spopup span {
            position: relative;
            font-weight: 1000;
            font-size: 2rem;
            display: flex;
            left: 1.2rem;
            color: rgb(0 0 0);
        }


        .inputS {
            color: #000000;
            padding: 1rem;
            margin: 0.6rem 1rem;
            width: 32.4rem;
            font-size: 1.5rem;
            border: none;
            border-radius: 0.8rem;
            margin-bottom: 2.6rem;
            outline: none;
            box-shadow: 1px 1px 2px 1px inset gray;
            background: #c5c5c5;
            box-shadow: 0rem 0rem 0.5rem 0rem;
        }

        .inputS1 {
            color: #000000;
            padding: 1rem;
            margin: .6rem 1rem;
            width: 32.4rem;
            font-size: 1.5rem;
            border: none;
            border-radius: .8rem;
            margin-bottom: 2.6rem;
            outline: none;
            box-shadow: 1px 1px 2px 1px inset gray;
            background: #c5c5c5;
            box-shadow: 0rem 0rem 0.5rem 0rem;
        }

        .SLink {
            font-size: 1.4rem;
            position: absolute;
            left: 22.4rem;
            margin-top: .9rem;
            text-decoration: none;
            text-shadow: 2px 2px 2px gray;
            color: rgb(7, 0, 0);
        }

        .SLink:hover {
            color: rgb(133, 133, 133);

        }

        .SinputS3 {
            position: absolute;
            left: 1.5rem;
            top: 44rem;
        }

        .SinputS3 .inputS3 {
            padding: .9rem 1.9rem;
            border-radius: 1rem;
            border: none;
            cursor: pointer;
            font-size: 1.7rem;
            background: transparent;
            text-shadow: 2px 3px 2px gray;
            font-weight: 750;
            box-shadow: 0px 0px 2px 1px #c5b2b2;
            position: relative;
            left: 0rem;
            color: rgb(0, 0, 0);
            top: 11rem;
        }

        .SinputS3 .inputS3:hover {
            padding: 1rem 2rem;
            background: linear-gradient(transparent, blue, aqua, rgb(143, 74, 255));
            color: rgb(255, 255, 255);
            box-shadow: 0px 0px 5px 1px #08e2ff;
        }


        .sign {
            margin-left: 85.2rem;
        }

        /* login page eye */

        .eye i {
            color: #000000;
            position: absolute;
            bottom: 3.7rem;
            left: 29rem;
            font-size: 1.7rem;
        }

        #Ehide1 {
            display: none;
        }

        /* Search Input creation  */
        .rightnav .s-input {
            visibility: hidden;
            width: 0rem;
            height: 3rem;
            position: absolute;
            right: 31rem;
            border-radius: 1rem;
            outline: 0;
            border: none;
            top: 2rem;
            box-shadow: 0rem 0rem 0.3rem 0rem gray;
            z-index: -1;
            transition: 0.5s;
        }

        .rightnav input {
            width: 100%;
            height: 100%;
            position: absolute;
            padding: 0.7rem 1rem;
            outline: 0;
            border: none;
            border-radius: 1rem;
        }

        .rightnav .s-input1 {
            visibility: visible;
            width: 18rem;
            height: 3rem;
            position: absolute;
            right: 31rem;
            border-radius: 1rem;
            outline: 0;
            border: none;
            top: 2rem;
            box-shadow: 0rem 0rem 0.3rem 0rem gray;
        }

        /* hamburger creation */

        .hamburger .line {
            width: 100%;
            height: 0.5rem;
            background-color: black;
            margin-bottom: 0.5rem;
            background: var(--secondary-color);
        }

        .hamburger {
            position: absolute;
            width: 3.4rem;
            top: 2.3rem;
            height: 3rem;
            left: 3rem;
            display: none;
        }

        @media (max-width:825px) and (min-width:800px) {
            .home-container .texts-container {
                height: 48%;
            }

            #needs {
                width: 172.4rem;
            }

            #contact::before {
                width: 187rem;
            }

            footer {
                width: 172.3rem;
            }
        }

        @media (max-width:1300px) {
            html {
                font-size: 50%;
            }
        }

        @media (max-width:800px) and (min-width:550px) {
            html {
                font-size: 30%;
            }

            #home {
                width: 177.5rem;
            }

            .home-container .texts-container {
                width: 160rem;
                height: 33%;
            }

            .image-icon-container img {
                width: 82rem;
            }

            .hamburger {
                display: block;
            }

            .centernav {
                position: relative;
                z-index: 1;
                width: 31rem;
                height: 37rem;
                top: 23rem;
                right: 58.3rem;
                background: #a7a7a785;
                border-bottom-right-radius: 3rem;
                visibility: hidden;
                transition: 0.4s;
            }

            .centernav1 {
                position: relative;
                z-index: 1;
                width: 31rem;
                height: 37rem;
                top: 23rem;
                right: 59rem;
                background: #a7a7a785;
                border-bottom-right-radius: 3rem;
                visibility: visible;
            }

            .nav-lists {
                flex-direction: column;
                gap: 3rem;
            }

            .centernav ul li a {
                color: white;
                transition: 0.1s;
            }

            #needs {
                width: 160.4rem;
            }

            #contact {
                height: 89rem;
            }

            #contact::before {
                height: 118rem;
            }
        }

        @media (max-width:550px) and (min-width:415px) {
            html {
                font-size: 32%;
            }

            .home-container .texts-container {
                width: 165rem;
                height: 51%;
            }

            .image-icon-container img {
                width: 82rem;
            }

            #needs {
                width: 165.4rem;
                height: 68rem;
            }

            #contact {
                width: 164.5rem;
                height: 80rem;

            }

            #contact::before {
                height: 109rem;
            }

            .hamburger {
                display: block;
            }


            .centernav {
                position: relative;
                z-index: 1;
                width: 31rem;
                height: 37rem;
                top: 23rem;
                right: 58.3rem;
                background: #a7a7a785;
                border-bottom-right-radius: 3rem;
                visibility: hidden;
                transition: 0.4s;
            }

            .centernav1 {
                position: relative;
                z-index: 1;
                width: 31rem;
                height: 37rem;
                top: 23rem;
                right: 59rem;
                background: #a7a7a785;
                border-bottom-right-radius: 3rem;
                visibility: visible;
            }

            .nav-lists {
                flex-direction: column;
                gap: 3rem;
            }

            .centernav ul li a {
                color: white;
                transition: 0.1s;
            }
        }

        @media (max-width:415px) {
            html {
                font-size: 15%;
            }

            .social-media .icons {
                width: 16rem;
            }

            .rightnav .s-input1 {
                width: 69rem;
                height: 12rem;
                z-index: 1;
                top: 38rem;
                right: 0rem;
            }

            .rightnav .s-input1 input {
                font-size: 8rem;
            }

            .social-media .icons:hover {
                width: 15rem;
            }

            .hamburger {
                display: block;
                width: 18rem;
                margin-top: 11rem;
            }

            .hamburger .line {
                height: 3.6rem;
                border-radius: 2rem;
            }

            #navbar .leftnav h1 {
                font-size: 12rem;
            }

            .rightnav img:nth-child(1) {
                width: 12rem;
            }

            .rightnav img:nth-child(2) {
                width: 24rem;
            }

            #navbar {
                flex-direction: column;
            }

            .r-nav-items {
                margin-top: -4rem;
            }

            #navbar .leftnav h1 {
                margin-top: 0rem;
            }

            #home {
                width: 171.5rem;
                height: 188rem;
            }

            .nav-section {
                height: 38rem;
            }

            .centernav {
                position: relative;
                z-index: 1;
                width: 31rem;
                height: 37rem;
                top: 23rem;
                right: 58.3rem;
                background: #a7a7a785;
                border-bottom-right-radius: 3rem;
                visibility: hidden;
                transition: 0.4s;
            }

            .centernav1 {
                position: relative;
                z-index: 1;
                width: 31rem;
                height: 37rem;
                top: 23rem;
                right: 59rem;
                background: #a7a7a785;
                border-bottom-right-radius: 3rem;
                visibility: visible;
            }

            .nav-lists {
                flex-direction: column;
                gap: 3rem;
            }

            .centernav ul li a {
                color: white;
                transition: 0.1s;
            }

            .home-container .texts-container {
                height: 50%;
                margin-top: 32rem;
                width: 171rem;
            }

            .home-container .texts-container h1 {
                font-size: 13rem;
                width: 142rem;
            }

            .home-container .texts-container .hf-p {
                font-size: 7rem;
                width: 150rem;
            }

            .home-container .texts-container .hs-p {
                font-size: 4.5rem;
                width: 114rem;
            }

            .rightnav button {
                padding: 2.9rem 3.1rem;
                font-size: 5.6rem;
            }

            .open-popup1 {
                top: 138rem;
                width: 93rem;
                height: 133rem;
            }

            .Spopup::before {
                width: 93rem;
                height: 133rem;
            }

            .Spopup h1 {
                font-size: 13rem;
            }

            .Spopup span {
                font-size: 9rem;
                left: 7.2rem;
            }

            .inputS {
                padding: 2.4rem;
                width: 74.4rem;
                font-size: 5.5rem;
                margin: 0.6rem 8rem;
            }

            .inputS1 {
                padding: 2.4rem;
                width: 74.4rem;
                font-size: 5.5rem;
                margin: 0.6rem 8rem;
            }

            .SLink {
                font-size: 5.8rem;
            }

            .Spopup button {
                padding: 3rem;
                margin: 10rem 8rem;
                font-size: 5.1rem;
                width: 74rem;
            }

            .centernav ul {
                font-size: 9.1rem;
            }

            .centernav {
                position: absolute;
                width: 58rem;
                height: 81rem;
            }

            .centernav1 {
                position: absolute;
                width: 58rem;
                height: 81rem;
                top: 38rem;
                right: 99rem;
            }

            .imgs {
                flex-direction: column;
            }

            #about {
                height: 165rem;
                width: 172.4rem;
            }

            #home {
                width: 171.5rem;
            }

            #needs {
                width: 172.4rem;
                height: 313rem;
            }

            .texts-icons-container img {
                width: 58rem;
            }

            .texts-icons-container h2 {
                font-size: 9rem;
            }

            .texts-icons-container h4 {
                font-size: 7rem;
                width: 129rem;
            }

            .texts-icons-container p {
                font-size: 6.5rem;
                width: 131rem;
            }

            .texts-icons-container h3 {
                font-size: 6rem;
                text-align: center;
                width: 127rem;
            }

            .texts-icons-container button {
                margin-top: 7rem;
                font-size: 6.5rem;
            }

            #footer {
                width: 171.1rem;
                height: 391rem;
            }

            .submit-btn0 button {
                font-size: 6.5rem;
            }

            .foo_container {
                flex-direction: column;
            }

            .foo_links_hl {
                flex-direction: column;
            }

            .need-container {
                flex-direction: column;
                gap: 12rem;
            }

            .image-icon-container img {
                width: 166rem;
            }

            #contact-box form {
                width: 57%;
            }

            #contact {
                height: 230rem;
                width: 171.5rem;

            }

            #contact::before {
                height: 230rem;
                width: 175rem;
            }

            .foo_about h1 {
                font-size: 12rem;
            }

            .foo_about {
                width: 90rem;
            }

            .foo_about span {
                font-size: 9rem;
            }

            .foo_about p {
                font-size: 5.5rem;
                text-align: center;
            }

            .foo_li h1 {
                font-size: 9rem;
            }

            .foo_links_hl {
                width: 56rem;
            }

            .foo_li ul {
                font-size: 7.5rem;
            }

            #contact-box input,
            #contact-box textarea {
                padding: 5px 10px;
                border-radius: 10px;
                font-size: 5.4rem;
            }

            footer {
                width: 172rem;
                height: 15rem;
                font-size: 6rem;
            }

            .about-container {
                height: 232rem;
            }

            #about {
                height: 247rem;
            }

            #about img {
                width: 110rem;
            }

            .texts button {
                font-size: 7rem;
            }

            #about h1 {
                font-size: 10rem;
            }

            .texts p {
                font-size: 5.5rem;
            }

            #languages h1 {
                font-size: 11rem;
            }

            .languages-container p {
                font-size: 8rem;
                text-align: center;
                width: 155rem;
            }

            .lan-texts {
                flex-direction: column;
                height: 309rem;
                gap: 23rem;
            }

            .lan-texts2 {
                flex-direction: column;
                height: 309rem;
                gap: 23rem;
            }

            .lan-texts3 {
                flex-direction: column;
                height: 309rem;
                gap: 23rem;
            }

            .lan-texts4 {
                flex-direction: column;
                height: 309rem;
                gap: 23rem;
            }

            #needs h1 {
                font-size: 12rem;
            }

            #languages {
                width: 156.5rem;
                height: 1295rem;
            }

            .lan-texts-box {
                height: 80rem;
                width: 111rem;
            }

            .lan-texts-box h2 {
                font-size: 8rem;
            }

            .lan-texts-box .line {
                left: 15rem;
                width: 1.3rem;
                height: 65.5rem;
            }

            .line h3 {
                width: 87rem;
                font-size: 4.9rem;
                left: 6rem;
            }
        }

        @media (max-width:1700px) {
            #home {
                width: 171.5rem;
            }
        }

        @media (max-width:914px) and (min-width:900px) {
            .home-container .texts-container {
                width: 160rem;
                height: 41%;
            }
        }
